
.btn-primary{
    background-color: palevioletred !important;
    border-color: palevioletred !important;
}

.btn-primary:hover{
    background-color: rgb(188, 88, 122) !important;
    border-color: rgb(188, 88, 122) !important;
}

.btn-outline-primary{
    border-color: palevioletred !important;
    color: palevioletred !important;
}
.btn-outline-primary:hover{
    background-color: palevioletred !important;
    color: white !important;
}

.date-range{
    position: relative;
    font-size: .8rem;
    /* background-color: white !important; */
    padding: .6rem .9rem;
    border-radius: .4rem;
    cursor: pointer;
    font-weight: 500;
    
}

.date-range-picker{
    position: absolute;
    left: 0;
    top: 4rem;
    z-index: 9;
}